In [26]:
import pandas as pd
import numpy as np
import datetime

In [9]:
df = pd.read_csv('current_cleaned_canadian_climate_data.csv')
df

        LOCAL_DATE        CITY  TEMPERATURE  PRECIPITATION
0       1940-04-01     CALGARY          NaN            6.1
1       1940-04-01    EDMONTON          NaN            NaN
2       1940-04-01     HALIFAX          NaN            NaN
3       1940-04-01     MONCTON          0.0            0.0
4       1940-04-01    MONTREAL          NaN            NaN
...            ...         ...          ...            ...
379868  2019-10-31     STJOHNS          6.7            0.2
379869  2019-10-31     TORONTO          7.3           18.8
379870  2019-10-31   VANCOUVER          5.3            0.0
379871  2019-10-31  WHITEHORSE         -3.7            0.0
379872  2019-10-31    WINNIPEG         -1.9            0.3

[379873 rows x 4 columns]

In [13]:
df['Hypothermia Risk Factor - Base'] = 1
df['Hypothermia Risk Factor - Temperature'] = df['TEMPERATURE'] * -0.328
df['Hypothermia Risk Factor - Precipitation'] = df['PRECIPITATION'] * 1.1
df['Hypothermia Risk Factor'] = df['Hypothermia Risk Factor - Temperature'] + df['Hypothermia Risk Factor - Precipitation']

df

,LOCAL_DATE,CITY,TEMPERATURE,PRECIPITATION,Hypothermia Risk Factor - Base,Hypothermia Risk Factor - Temperature,Hypothermia Risk Factor - Precipitation,Hypothermia Risk Factor
0,1940-04-01,CALGARY,NaN,6.1,1,NaN,6.71,NaN
1,1940-04-01,EDMONTON,NaN,NaN,1,NaN,NaN,NaN
2,1940-04-01,HALIFAX,NaN,NaN,1,NaN,NaN,NaN
3,1940-04-01,MONCTON,0.0,0.0,1,-0.0000,0.00,0.0000
4,1940-04-01,MONTREAL,NaN,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
379868,2019-10-31,STJOHNS,6.7,0.2,1,-2.1976,0.22,-1.9776
379869,2019-10-31,TORONTO,7.3,18.8,1,-2.3944,20.68,18.2856
379870,2019-10-31,VANCOUVER,5.3,0.0,1,-1.7384,0.00,-1.7384
379871,2019-10-31,WHITEHORSE,-3.7,0.0,1,1.2136,0.00,1.2136
379872,2019-10-31,WINNIPEG,-1.9,0.3,1,0.6232,0.33,0.9532

In [23]:
df_toronto = df[df['CITY']=='TORONTO']
df_toronto

,LOCAL_DATE,CITY,TEMPERATURE,PRECIPITATION,Hypothermia Risk Factor - Base,Hypothermia Risk Factor - Temperature,Hypothermia Risk Factor - Precipitation,Hypothermia Risk Factor
9,1940-04-01,TORONTO,1.4,0.0,1,-0.4592,0.00,-0.4592
22,1941-04-01,TORONTO,2.5,0.0,1,-0.8200,0.00,-0.8200
35,1942-04-01,TORONTO,4.7,0.0,1,-1.5416,0.00,-1.5416
48,1943-04-01,TORONTO,10.0,1.3,1,-3.2800,1.43,-1.8500
61,1944-04-01,TORONTO,2.8,0.0,1,-0.9184,0.00,-0.9184
...,...,...,...,...,...,...,...,...
379817,2015-10-31,TORONTO,5.7,2.4,1,-1.8696,2.64,0.7704
379830,2016-10-31,TORONTO,4.5,0.0,1,-1.4760,0.00,-1.4760
379843,2017-10-31,TORONTO,5.6,0.2,1,-1.8368,0.22,-1.6168
379856,2018-10-31,TORONTO,8.9,16.2,1,-2.9192,17.82,14.9008
379869,2019-10-31,TORONTO,7.3,18.8,1,-2.3944,20.68,18.2856

In [14]:
df.to_csv('current_cleaned_canadian_climate_data.csv')

In [19]:
below_minus_five = df[(df['CITY']=='TORONTO') & (df['TEMPERATURE']<-5)]
below_minus_five

,LOCAL_DATE,CITY,TEMPERATURE,PRECIPITATION,Hypothermia Risk Factor - Base,Hypothermia Risk Factor - Temperature,Hypothermia Risk Factor - Precipitation,Hypothermia Risk Factor
2089,1940-12-01,TORONTO,-11.7,0.3,1,3.8376,0.33,4.1676
2154,1945-12-01,TORONTO,-6.4,0.0,1,2.0992,0.00,2.0992
2167,1946-12-01,TORONTO,-5.9,0.0,1,1.9352,0.00,1.9352
2245,1952-12-01,TORONTO,-6.4,0.0,1,2.0992,0.00,2.0992
2284,1955-12-01,TORONTO,-6.1,1.8,1,2.0008,1.98,3.9808
...,...,...,...,...,...,...,...,...
375657,2015-01-31,TORONTO,-10.4,0.0,1,3.4112,0.00,3.4112
375696,2018-01-31,TORONTO,-6.5,0.8,1,2.1320,0.88,3.0120
375709,2019-01-31,TORONTO,-18.6,0.0,1,6.1008,0.00,6.1008
377074,1964-03-31,TORONTO,-5.3,0.0,1,1.7384,0.00,1.7384
377139,1969-03-31,TORONTO,-5.3,0.0,1,1.7384,0.00,1.7384

In [24]:
# Number of days below -5 per year
len(below_minus_five) / 78

49.256410256410255

In [20]:
below_minus_fifteen = df[(df['CITY']=='TORONTO') & (df['TEMPERATURE']<-15)]
below_minus_fifteen

,LOCAL_DATE,CITY,TEMPERATURE,PRECIPITATION,Hypothermia Risk Factor - Base,Hypothermia Risk Factor - Temperature,Hypothermia Risk Factor - Precipitation,Hypothermia Risk Factor
3376,1959-02-01,TORONTO,-15.6,0.0,1,5.1168,0.00,5.1168
3402,1961-02-01,TORONTO,-16.7,0.0,1,5.4776,0.00,5.4776
3415,1962-02-01,TORONTO,-17.5,0.0,1,5.7400,0.00,5.7400
3532,1971-02-01,TORONTO,-17.8,0.3,1,5.8384,0.33,6.1684
4533,1968-01-01,TORONTO,-15.9,0.0,1,5.2152,0.00,5.2152
...,...,...,...,...,...,...,...,...
375085,1971-01-31,TORONTO,-18.1,0.0,1,5.9368,0.00,5.9368
375111,1973-01-31,TORONTO,-16.1,2.0,1,5.2808,2.20,7.4808
375254,1984-01-31,TORONTO,-15.1,0.0,1,4.9528,0.00,4.9528
375384,1994-01-31,TORONTO,-16.9,0.0,1,5.5432,0.00,5.5432
375709,2019-01-31,TORONTO,-18.6,0.0,1,6.1008,0.00,6.1008

In [22]:
len(below_minus_fifteen)

354

In [25]:
# Number of days below -15 per year
len(below_minus_fifteen) / 78

4.538461538461538

In [31]:
# Days when temperature is below 0 and HRF is above 0
df_hrf = df_toronto[(df_toronto['Hypothermia Risk Factor']>0) & (df_toronto['TEMPERATURE']<0)]
df_hrf

,LOCAL_DATE,CITY,TEMPERATURE,PRECIPITATION,Hypothermia Risk Factor - Base,Hypothermia Risk Factor - Temperature,Hypothermia Risk Factor - Precipitation,Hypothermia Risk Factor
191,1954-04-01,TORONTO,-2.0,0.0,1,0.6560,0.00,0.6560
321,1964-04-01,TORONTO,-3.3,0.0,1,1.0824,0.00,1.0824
334,1965-04-01,TORONTO,-3.4,0.3,1,1.1152,0.33,1.4452
464,1975-04-01,TORONTO,-0.3,1.3,1,0.0984,1.43,1.5284
620,1987-04-01,TORONTO,-2.5,3.4,1,0.8200,3.74,4.5600
...,...,...,...,...,...,...,...,...
377373,1987-03-31,TORONTO,-4.3,10.4,1,1.4104,11.44,12.8504
377503,1997-03-31,TORONTO,-2.5,0.2,1,0.8200,0.22,1.0400
377581,2003-03-31,TORONTO,-2.1,0.4,1,0.6888,0.44,1.1288
377789,2019-03-31,TORONTO,-0.9,1.0,1,0.2952,1.10,1.3952
379297,1975-10-31,TORONTO,-0.6,0.0,1,0.1968,0.00,0.1968

In [32]:
# How many days of increased Hypothermia Risk would have been covered at a -5°C threshold?
len(below_minus_five) / len(df_hrf)

0.5137737362931265

In [34]:
# How many days of increased Hypothermia Risk were covered at a -15°C threshold?
len(below_minus_fifteen) / len(df_hrf)

0.04733886065792993

In [44]:
precip_over_ten = df_hrf[df_hrf['PRECIPITATION']>10]

In [45]:
len(precip_over_ten) / len(df_hrf)

0.03182669162877775