In [1]:
import numpy as np
import pandas as pd

In [3]:
climate_data = pd.read_csv('canadian_climate_history.csv')

In [6]:
mean_temp_calgary = pd.DataFrame(climate_data['MEAN_TEMPERATURE_CALGARY'])

       MEAN_TEMPERATURE_CALGARY
0                         -11.4
1                         -12.0
2                         -12.0
3                         -11.4
4                         -13.1
...                         ...
29216                      -7.7
29217                      -3.3
29218                      -1.6
29219                       4.3
29220                      -0.3

[29221 rows x 1 columns]